@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)) ,url("/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*dark mode looking scrollbar /*
/* For whole website scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #121212; /* scrollbar color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}